[client]
port=3306
socket=/opt/bitnami/mariadb/tmp/mysql.sock
plugin_dir=/opt/bitnami/mariadb/plugin

[mysqld]
default-storage-engine=InnoDB
basedir=/opt/bitnami/mariadb
datadir=/bitnami/mariadb/data
plugin_dir=/opt/bitnami/mariadb/plugin
tmpdir=/opt/bitnami/mariadb/tmp
socket=/opt/bitnami/mariadb/tmp/mysql.sock
pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid
bind-address=0.0.0.0

## Character set
collation-server=utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server=utf8

## MyISAM
key-buffer-size=32M
myisam-recover-options=FORCE,BACKUP

## safety
skip-host-cache
skip-name-resolve
max-allowed-packet=16M
max-connect-errors=1000000
sql-mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now=1
innodb=FORCE
innodb-strict-mode=1
innodb_file_per_table=1

# Mandatory per https://github.com/codership/documentation/issues/25
innodb-autoinc-lock-mode=2

# Per https://www.percona.com/blog/2006/08/04/innodb-double-write/
innodb-doublewrite=1

# Not fully ACID compliant, up to 1sec transaction loss in the event of total cluster failure (across both regions)
# Enabled for performance per https://mariadb.com/kb/en/mariadb/getting-started-with-mariadb-galera-cluster/
innodb_flush_log_at_trx_commit=0

## binary logging
log-bin=mysql-bin
expire-logs-days=14

# Disabling for performance per http://severalnines.com/blog/9-tips-going-production-galera-cluster-mysql
sync-binlog=0

# Required for Galera
binlog-format=row

## Caches and limits
tmp-table-size=32M
max-heap-table-size=32M

# Re-enabling as now works with Maria 10.1.2
query-cache-type=1
query-cache-limit=4M
query-cache-size=256M
max-connections=500
thread-cache-size=50
open-files-limit=65535
table-definition-cache=4096
table-open-cache=4096

## innodb
innodb-flush-method=O_DIRECT
innodb-log-files-in-group=2
innodb-log-file-size=128M
innodb-flush-log-at-trx-commit=1
innodb-file-per-table=1

# 80% Memory is default reco.
# Need to re-evaluate when DB size grows
innodb-buffer-pool-size=2G
innodb_file_format=Barracuda

## logging
log_warnings=2
log-queries-not-using-indexes=1
slow-query-log=1

[galera]
wsrep_on=ON
wsrep_provider=/opt/bitnami/mariadb/lib/libgalera_smm.so
wsrep_sst_method=mariabackup
wsrep_slave_threads=4
wsrep_cluster_address=gcomm://
wsrep_cluster_name=galera
wsrep_sst_auth="root:"
innodb-flush-log-at-trx-commit=2
wsrep_replicate_myisam=ON

[mariadb]
plugin_load_add=auth_pam
