
# Supported Platforms

- [Azure Kubernetes Service (AKS)](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/quickstart-aks.md)
- [Google Kubernetes Engine (GKE)](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/quickstart-gke.md)

# Changelog

