
# Installation

Follow the [installation guide](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/install.md) to install the Bitnami Kubernetes Production Runtime (BKPR) on your cluster.

# Supported Platforms

- [Azure Kubernetes Service (AKS)](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/quickstart-aks.md)
- [Google Kubernetes Engine (GKE)](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/quickstart-gke.md)
- [Amazon Elastic Container Service for Kubernetes (EKS)](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/quickstart-eks.md)

# Migration Guide

- [BKPR v1.3.6 Migration Guide](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/migration-guides/bkpr-1.3.6-migration-guide.md)
- [BKPR v1.2 Migration Guide](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/migration-guides/bkpr-1.2-migration-guide.md)

# Breaking Changes in Components

- [Breaking changes in Elasticsearch 6.7](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-6.7.html)
- [Breaking changes in Elasticsearch 6.6](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-6.6.html)

# Changelog

