
# Installation

Follow the [installation guide](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/install.md) to install the Bitnami Kubernetes Production Runtime (BKPR) to your cluster.

# Supported Platforms

- [Azure Kubernetes Service (AKS)](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/quickstart-aks.md)
- [Google Kubernetes Engine (GKE)](https://github.com/bitnami/kube-prod-runtime/blob/master/docs/quickstart-gke.md)

# Changelog

